<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shioya.agent_support">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">
        <activity
            android:name=".TitleActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PepperActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VoiceActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Agent9Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AgentSelectActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AgentDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AgentFilterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PointActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>